doctype html
html
    head
        link(rel='stylesheet', type='text/css', href='../css/main.css')
        link(href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet')
        script(src='../js/mainpage.js' type='text/javascript' defer='')
        title ReadNext
        body
            div.task-bar
                nav
                    ul
                        li
                            a(href='/', id="dashboard-link", onclick="mainpageNav(event)") Home
                        li
                            a(href='#') About
                        if !isLoggedIn
                            li
                                a(href='/signup') Signup
                            li
                                a(href='/login') Login
                        else
                            li 
                                a(href='/account') Account
                            li 
                                a(href='/logout') Logout
                        li 
                            a(href='#') Genres
                div.search-bar
                    input(type='text', placeholder='Search...')
        main
        .book-layout
            .book-container
                h1 #{title}
                img(src=`data:image/jpeg;base64,${book_data.image_data}`, alt=`${title} Poster`)
            .details-container   
                p Author: #{auth}
                p Reviews: #{book_data.review_num}
                p Stars: #{book_data.stars}
            .comments-container
                if isLoggedIn
                    button#add-comment-button(type='button') Add Review
                    form#new-comment-form(style='display: none;' action=`/endpoint/comment?name=${title}.jpg&auth=${auth}` method='POST')
                        input(type='hidden' name='book_id' id='book_id' value=book_data.id)
                        label(for='comment') New Comment:
                        textarea#new-comment(name='comment' rows='4' cols='50' required='')
                        h2 How Many Stars?
                        .rate
                            input#star5(type='radio' name='rate' value='5')
                            label(for='star5' title='text') 5 stars
                            input#star4(type='radio' name='rate' value='4')
                            label(for='star4' title='text') 4 stars
                            input#star3(type='radio' name='rate' value='3')
                            label(for='star3' title='text') 3 stars
                            input#star2(type='radio' name='rate' value='2')
                            label(for='star2' title='text') 2 stars
                            input#star1(type='radio' name='rate' value='1')
                            label(for='star1' title='text') 1 star
                        br
                        br
                        button#submit-comment(type='submit') Submit Review
                h1 Reviews
                each comment in response
                    .comment
                        h4.auth #{comment.posted_by}
                        h4.com #{comment.comment}
                        h4.date #{comment.posted_date}

