doctype html
html
    head
        link(rel='stylesheet', type='text/css', href='../css/main.css')
        link(href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet')
        script(src='../js/mainpage.js' type='text/javascript' defer='')
        title ReadNext
        body
            div.task-bar
                nav
                    ul
                        li
                            a(href='/', id="dashboard-link", onclick="mainpageNav(event)") Home
                        li
                            a(href='#') About
                        if !isLoggedIn
                            li
                                a(href='/signup') Signup
                            li
                                a(href='/login') Login
                        else
                            li 
                                a(href='/account') Account
                            li 
                                a(href='/logout') Logout
                        li 
                            a(href='#') Genres
                div.search-bar
                    input(type='text', placeholder='Search...')
        main
        .book-layout
            .book-container
                h1 #{title}
                img(src=`data:image/jpeg;base64,${book_data.image_data}`, alt=`${title} Poster`)
            .details-container   
                p Author: #{auth}
                p Reviews: #{book_data.review_num}
                p Stars: #{book_data.stars}
            .comments-container
                // Your comments/reviews section goes here
                button#add-comment-button(type='button') Add Review

                // Add a form for the new comment, initially hidden
                form#new-comment-form(style='display: none;' action='/endpoint/comment' method='POST')
                    label(for='new-comment') New Comment:
                    textarea#new-comment(name='new-comment' rows='4' cols='50' required='')
                    br
                    button#submit-comment(type='button') Submit Review
                h1 Reviews

                .comment

